.login-wrapper {
    min-height: 100vh;
    height: auto;
    background-color: #96d980;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-login {
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.75);
    width: 350px;
}

.input-100 {
    padding: 5px;
    width: 100%;
    outline: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.input-50 {
    padding: 5px;
    width: calc(50% - 10px);
    outline: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.inputs-50 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-login textarea {
    width: 100%;
    padding: 5px;
    resize: none;
    height: 120px;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.button-submit {
    background-color: #96d980;
    border: 0;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    outline: none;
}

.banner {
    width: 50%;
}

.image-banner {
    width: 100%;
}

.form-login p {
    font-family: sans-serif;
    font-size: 18px;
    color: darkolivegreen;
    padding: 5px;
}

.validations {
    margin-bottom: 10px;
}

.validation {
    color: red;
    font-family: sans-serif;
    font-size: 15px;
}

strong {
    cursor: pointer;
}

@media (max-width: 800px) {
    .banner {
        display: none;
    }
}